<html>
<head>
    <title>Youtube video downloader</title>
</head>
<body>
  
<form action="/video" method="post">
    <fieldset>
       <label for="name">Video Url:</label>
       <input type="text" id="videourl" name="video-url" placeholder="Enter Url of youtube video" />
       <br />
      
       <input type="submit" value="Download now" />
    </fieldset>
 </form>

</body>



</html>