<html>
<body>
    <head>
<script>
    

function myAjaxCall(){
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function(){
        if(xhr.readyState ===XMLHttpRequest.DONE && xhr.status ===200){
            console.log('response has come',xhr.response);
            return xhr.response;
        }
    };
    xhr.open('GET','/filez',true);
    xhr.send();
};
</script>
            
        <title>
File download from client side        </title>
    </head>
    <a href='/'>Back to HomePage</a>
    <br/>
    <br/>
   
    <h2>Download file <%= (videoInfo.length_seconds/60) %> minutes</h2>
    <button onclick="myAjaxCall()">Download Video Now</button>
</body>

</html>